/* You CSS goes in here */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;

}

#container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

#instruction {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 6.4%;
  font-family: "Croissant One", cursive;
  color: darkblue;
  background-color: #cbd3e3;
  font-size: 25px;
}



#step {
  box-sizing: border-box;
  display: flex;
  text-align: center;
  justify-content: center;
  padding-left: 5px;
  font-size: 24px;
  font-family: "Croissant One", cursive;
  color: blueviolet;
}

#backg {
  height: 93%;
  width: 100%;
  position: absolute;
  background-size: cover;
}

#lab {
  width: 100%;
  height: 100%;
}

#img-acetic {
  transition: all;
  height: 20%;
  width: 8.2%;
  position: absolute;
  left: 59%;
  top: 55%;
  cursor: pointer;
  transition-duration: 1s;
  animation: 1s ease-in-out;
}

#img-butanol {
  transition: all;
  height: 20%;
  width: 8.2%;
  position: absolute;
  left: 70%;
  top: 55%;
  cursor: pointer;
  transition-duration: 1s;
  animation: 1s ease-in-out;
}

#img-gcylndr {
  height: 25%;
  width: 4.5%;
  position: absolute;
  left: 48%;
  top: 52%;
  transition: all;
  cursor: pointer;
  transition-duration: 1s;
  animation: 1s ease-in-out;

}


#sol-gcylndr {
  transition: all;
  transition-duration: 1s;
  height: 7%;
  width: 2.47%;
  position: absolute;
  left: 49%;
  top: 69%;
  opacity: 0;
}


#img-fstnd {
  transition: all;
  height: 53%;
  width: 15%;
  position: absolute;
  left: 25%;
  top: 25%;
  visibility: visible;
}

#final_sep_sol {
  transition: all;
  height: 53%;
  width: 16%;
  position: absolute;
  left: 24.4%;
  top: 25%;
  opacity: 0;
}

#img-fsol {
  cursor: pointer;
  transition: all;
  height: 31%;
  width: 6%;
  position: absolute;
  left: 30.5%;
  top: 26%;
  visibility: hidden;
  transition-duration: 1s;
  animation: 1s ease-in-out infinite;
}

#img-cork {
  transition: all;
  cursor: pointer;
  height: 3.5%;
  width: 3.2%;
  position: absolute;
  right: 74.5%;
  top: 69.4%;
  visibility: visible;
  transition-duration: 1s;
  animation: 1s ease-in-out infinite;
}

#drop1 {
  transition: all;
  height: 4%;
  width: 1.1%;
  position: absolute;
  bottom: 45%;
  left: 49.6%;
  visibility: hidden;
  transition-duration: 2s;
  animation: 2s ease-in-out infinite;
}

#drop2 {
  transition: all;
  height: 4%;
  width: 1.1%;
  position: absolute;
  bottom: 45%;
  left: 49.6%;
  visibility: hidden;
  transition-duration: 2s;
  animation: 2s ease-in-out infinite;
}


#drop3 {
  left: 33%;
  bottom: 73%;
  transition: all;
  height: 4%;
  width: 1.1%;
  position: absolute;
  visibility: hidden;
  transition-duration: 2s;
  animation: 2s ease-in-out infinite;
}

#drop4 {
  left: 33%;
  bottom: 73%;
  transition: all;
  height: 4%;
  width: 1.1%;
  position: absolute;
  visibility: hidden;
  transition-duration: 2s;
  animation: 2s ease-in-out infinite;
}


#solpart1{
  left: 30.9%;
  bottom: 51.87%;
  transition: all;
  height: 12%;
  width: 5.4%;
  position: absolute;
  visibility: hidden;
  transition-duration: 1s;
  animation: 1s ease-in-out infinite;
}

#solpart2{
  cursor: pointer;
  transition: all;
  height: 53%;
  width: 15%;
  position: absolute;
  left: 25%;
  top: 25%;
  opacity: 0;
  transition-duration: 1s;
  animation: 1s ease-in-out infinite;
}

/* #finalsol {
  cursor: pointer;
  transition: all;
  height: 31%;
  width: 6%;
  position: absolute;
  left: 30.5%;
  top: 26%;
  opacity: 0;
  transition-duration: 1s;
} */


#sepration a {
  text-decoration: none;
  left: 87%;
  top: 93%;
  color: rgb(190, 207, 203);
  position: absolute;
  font-size: larger;
  font-weight: 1000;
  font-family: "Croissant One", cursive;
  visibility: hidden;
  /* background-color: #bcead8; */
  /* border-radius: 10%; */
}

#img-sol_Nstan{
  cursor: pointer;
  transition: all;
  height: 30.4%;
  width: 6.1%;
  position: absolute;
  left: 30.5%;
  top: 26%;
  opacity: 0;
  transition-duration: 1s;
}

#img-emty{
  cursor: pointer;
  transition: all;
  height: 30.4%;
  width: 6.1%;
  position: absolute;
  left: 30.5%;
  top: 26%;
  opacity: 100;
  transition-duration: 1s;
}

#lhand{
  height: 15%;
  width: 5%;
  position: absolute;
  rotate: 270deg;
  top: 20%;
  left: 25%;
  opacity: 0;
  transition: all;
  transition-duration: 1s;
}